<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top-buttons">
        <p> <a button type="button" class="btn btn-warning btn-lg" href="/">◄◄ Go Home
            </a><br>


<% for(var i=0; i<chapterList.length; i++) {%>
<a href="<%= chapterList[i] %>"><%= chapterList[i] %></a><br>
        <% } %>
    
</body>
</html>