<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top-buttons">
        <p> <a button type="button" class="btn btn-warning btn-lg" href="/">◄◄ Go Home
            </a>
<h1>
<% for(var i=0; i<mangaList.length; i++) {%>
<a href="manga/<%= mangaList[i] %>"><%= i+1 %>)  <%= mangaList[i] %></a><br>
    <% } %>
</h1>
</body>
</html>