<h1>Add a new manga</h1>
<div class="add-manga">

    <!-- the part where the input is -->
    <form action="/new" method="post">
        <label for="mangaName">Manga link:</label>
        <input type="text" id="mangaName" name="mangaName">

        <label for="url">link</label>
        <input type="url" name="link" id="link">
        <p>
            <button type="reset">Reset</button>
            <input type="submit" value="Submit">
            <a button href="/">Cancel</a>
        </p>


        <!-- selector for the tanslated language (mangadex only) -->
        <div>
            translated language
            <select class="translatedLanguages" name="translatedLanguages">
                <option data-c="en" value="en" selected="">English</option>
                <option data-c="fr" value="fr">Fançais</option>
                <option data-c="it" value="it">Italian</option>
            </select>
        </div>


        <!-- selector for the source -->
        <div>
            source
            <select class="select_source" name="source">
                <option data-c="mangadex" selected="">Mangadex</option>
                <option data-c="manganato">Manganato</option>

            </select>

        </div>


    </form>
</div>