<div class="form-group">
    <label for="title">manga  name</label>
    <input required value="<%= title %>" 
    type="text" name="title" id="title" 
    class="form-control">
</div>
<div class="form-group">
    <label for="description">link to first chapter</label>
    <textarea name="description" id="description" 
    class="form-control"><%= description %></textarea>
</div>
<div class="form-group">
    <label for="markdown">number of chapters</label>
    <textarea required name="markdown" id="markdown" 
    class="form-control"><%= markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>