<h1>Add a new manga</h1>
<div class="add-manga">

    <!-- the part where the input is -->
    <form action="/new" method="post">

        <div id="input_type">
            <label for="mangaName">Manga name:</label>
            <input type="text" id="mangaName" name="mangaName">
        </div>




        <!-- selector for the tanslated language (mangadex only) -->
        <div id="translatedLanguages">
            translated language
            <select class="translatedLanguages" name="translatedLanguages">
                <option data-c="en" value="en" selected="">English</option>
                <option data-c="fr" value="fr">Fançais</option>
                <option data-c="it" value="it">Italian</option>
            </select>
        </div>


        <!-- selector for the source -->
        <div>
            source
            <select class="select_source" name="source">
                <option id="mangadex" data-c="mangadex" selected="">Mangadex</option>
                <option id="manganato" data-c="manganato">Manganato</option>

            </select>

        </div>
        <p>
            <button type="reset">Reset</button>
            <input type="submit" value="Submit">
            <a button href="/">Cancel</a>
        </p>

    </form>



    <script>
        // when mangadex is selected
        document.getElementById("mangadex").onclick = function () {
            document.getElementById("input_type").innerHTML = `
            <label id="input_type" for="mangaName">Manga name:</label>
            <input type="url" id="mangaName" name="mangaName">
            `


            document.getElementById("translatedLanguages").innerHTML = `
            <div>
            translated language
            <select class="translatedLanguages" name="translatedLanguages">
                <option data-c="en" value="en" selected="">English</option>
                <option data-c="fr" value="fr">Fançais</option>
                <option data-c="it" value="it">Italian</option>
            </select>
        </div>`
        }



        // when manganato is selected
        document.getElementById("manganato").onclick = function () {
            document.getElementById("input_type").innerHTML = `
            <label id="input_type" for="mangaName">Manga link:</label>
            <input type="url" id="mangaName input_type" name="mangaName">
           `
            document.getElementById("translatedLanguages").innerHTML = ``
        }



    </script>

</div>