<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/auto-complete.js"></script>

    <link rel="stylesheet" href="/css.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    hello world

    <button onclick="openForm()">open</button>

    <!-- <form method="post">
        <input autocomplete="off" type="text" id="mangaName" name="mangaName" value="" autofocus>
    </form>   -->


    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeForm()" title="Close Overlay">&#215</span>

        <div class="wrap">
            <button class="close" onclick="closeForm()" title="Close Overlay">&#215</button>
            <h2>Download new manga</h2>
            <form action="/new" method="post">
                <!-- text inputs -->
                Manga Name
                <input autocomplete="off" type="text" id="mangaName" name="mangaName" placeholder="Manga Name" autofocus
                    required>


                <div class="complete-text">
                    <div class="field" id="autocomplete">
                    </div>
                </div>



                Source
                <select class="select_source" name="source">
                    <option id="mangadex" data-c="mangadex" selected="">Mangadex</option>
                    <option id="manganato" data-c="manganato">Manganato</option>
                </select>

                <button type="button" onclick="toggleAdvancedOptions()" class="dropdown-button show-options">Show Other
                    Options</button>
                <div class="dropdown" id="showOptions">
                    <div id="advancedOptions" class="dropdown-content" style="display: none;">

                        Base Offset
                        <input type="number" id="baseOffset" name="baseOffset" value="0" placeholder="Base Offset">
                        <!-- selector input -->
                        Translated language
                        <select class="translatedLanguages" name="translatedLanguages">
                            <option data-c="en" value="en" selected="">English</option>
                            <option data-c="fr" value="fr">Fançais</option>
                            <option data-c="it" value="it">Italiano</option>
                            <option data-c="ru" value="ru">Russian</option>
                        </select><br>

                        <!-- Source
                        <select class="select_source" name="source">
                        <option id="mangadex" data-c="mangadex" selected="">Mangadex</option>
                        <option id="manganato" data-c="manganato">Manganato</option>

                            </select> -->

                        <!-- sort returned mangas by popularity or by relevance for mangadex -->
                        Sort Manga By
                        <select class="sortBy" name="sortBy">
                            <option id="relevance" data-c="relevance" selected="" value="relevance">Relevance</option>
                            <option id="popularity" data-c="followedCount" value="followedCount">Popularity</option>
                            <option id="latestUpdate" data-c="latestUploadedChapter" value="latestUploadedChapter">
                                Latest update</option>

                        </select>

                        <label for="updateJson" name="updateJson">Only Update JSON</label>
                        <input type="checkbox" id="updateJson" name="updateJson" data-c="true" value="true">
                    </div>
                </div>

                <!-- <select class="json" name="updateJson">
    <option id="mangadex" value="true" >Only Update JSON</option>
</select> -->


                <input type="submit" value="Download">
            </form>

        </div>
    </div>







    <div class="progress-bar">
        <input id="progress" type='range' min='0' max='100' step='1' value="75">
        <button onclick="increaseProgress()">++</button>
    </div>

    <script>
        window.onload = function () {
            document.getElementById('progress').value = 0

        }
        // function increaseProgress() {
        //     document.getElementById('progress').value++
        // }
    </script>






    <div>
        <h1>Custom Progress Bar</h1>

        <div class="progress">
            <div class="progress-done" data-done="10">

            </div>
        </div>
    </div>

    <style>
        /* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */

        * {
            box-sizing: border-box;
        }

        body {
            /* background-color: #f4f4f4; */
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .progress {
            background-color: #d8d8d8;
            border-radius: 20px;
            position: relative;
            margin: 15px 0;
            height: 30px;
            width: 300px;
        }

        .progress-done {
            background: linear-gradient(to left, #F2709C, #FF9472);
            box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
            border-radius: 20px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 0;
            opacity: 0;
            transition: 1s ease 0.3s;
        }
    </style>

    <script>


        var progress = document.querySelector('.progress-done');

        progress.style.width = progress.getAttribute('data-done') + '%';
        progress.style.opacity = 1;

        window.onload = function () {
            var progress = document.querySelector('.progress-done');
            progress.innerHTML = ((parseFloat(progress.getAttribute('data-done'))) + '%')

        }

        function increaseProgress() {
            // progress = document.querySelector('.progress-done');

            let where = (progress.style.width).replaceAll('%', '')
            where = parseFloat(where)
            // progress.style.width = ((parseFloat(progress.getAttribute('data-done')) + 10) + '%')
            progress.style.width =where+ 10+'%'
            console.log(progress.style.width)

            // console.log(parseFloat(progress.getAttribute('data-done')))
            progress.innerHTML = ((progress.style.width).replaceAll('%', '')+'%')
            if(where == 90){
                progress.innerHTML = 'download complete'
            }
        }
    </script>





    <script>
        //opens the overlay form
        function openForm() {
            document.getElementById('myOverlay').style.display = "block";
            document.getElementById('mangaName').focus();
        }
        //closes the overlay form
        function closeForm() {
            document.getElementById('myOverlay').style.display = "none";
        }

        //shows or hide dropdown options
        function toggleAdvancedOptions() {

            //shows menu if it is hidden or hides it if its displayed
            var advancedOptions = document.getElementById("advancedOptions");

            if (advancedOptions.style.display === "none") {
                advancedOptions.style.display = "block";
            } else {
                advancedOptions.style.display = "none";
            }
        }

    </script>


    <script>
        window.addEventListener('load', () => {
            registerSW();
        });

        // Register the Service Worker
        async function registerSW() {
            if ('serviceWorker' in navigator) {
                try {
                    await navigator
                        .serviceWorker
                        .register('/serviceWorker.js');
                }
                catch (e) {
                    console.log('SW registration failed');
                }
            }
        }
    </script>





</body>

</html>