<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/node-reader-icon3.svg" type="image/x-icon" />
    <title>Homepage</title>
</head>

<body>
    <div class="top-bar">
        <div class="page-name">
            <h1>Home</h1>
        </div>

        <!-- shows current path -->
        <div class="currentPath" id="currentPath">
            <a href="/">Home >
            </a>
        </div>

        <button class="openbtn" onclick="openForm()">click Here to Download a new Manga</button>

    </div>




    <div id="manga-list">
        <% for (let i=0; i < mangaList.length; i++) { %>
            <div class="manga-item" id="manga-image">
                <a href="manga/<%= mangaList[i] %>"><img class="manga-image"
                        src="manga/<%= mangaList[i] %>/cover.jpg" /></a>
                <br>
                <%= mangaList[i] %>
            </div>
            <% } %>

                <div class="add-chapter manga-item" id="manga-image">
                    <!-- <a href="/new"><img class="manga-image" src="/add-manga-image.svg" /></a> -->
                    <img class="manga-image" onclick="openForm()" src="/add-manga-image.svg" />

                    <br>
                    Add a new manga
                </div>

    </div>



    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeForm()" title="Close Overlay">&#215</span>

        <div class="wrap">
            <button class="close" onclick="closeForm()" title="Close Overlay">&#215</button>
            <h2>Download new manga</h2>
            <form action="/new" method="post">

                Manga Name
                <input type="text" id="mangaName" name="mangaName" placeholder="Manga Name">
                Base Offset
                <input type="number" id="baseOffset" name="baseOffset" value="0" placeholder="Base Offset">
                Translated language
                <!-- <input type="text" placeholder="Translated Language"> -->
                <select class="translatedLanguages" name="translatedLanguages">
                    <option data-c="en" value="en" selected="">English</option>
                    <option data-c="fr" value="fr">Fançais</option>
                    <option data-c="it" value="it">Italiano</option>
                    <option data-c="ru" value="ru">Russian</option>
                </select><br>
                Source
                <select class="select_source" name="source">
                    <option id="mangadex" data-c="mangadex" selected="">Mangadex</option>
                    <option id="manganato" data-c="manganato">Manganato</option>

                </select>




                <input type="submit" value="Submit">
            </form>

        </div>
    </div>



    <script>
        function openForm() {
            document.getElementById('myOverlay').style.display = "block";
        }

        function closeForm() {
            document.getElementById('myOverlay').style.display = "none";
        }
    </script>




</body>

</html>