.field {
  position: absolute;
  margin-top: 0px;
  /* display: inline-block; */
  max-height: 221px;
  overflow-y: auto;
  border-radius: 7px;
}

.complete-element {
  background-color: aqua;
  margin-top: .2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
}

.complete-text {
  position: relative;
  
}