.field {
  position: relative;
  /* display: inline-block; */
}

.complete-element {
  background-color: aqua;
  /* margin: .2em; */
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  position: absolute;
  /* z-index: 99; */
  /* transform: translateY(+3em); */
}
.complete-element:first-child{
display: flex;
  justify-content: space-between;
}