body {
    background-color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.top-bar {
    background-color: blueviolet;
    /* padding: 2em; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page {
    display: block;
    margin: 5px auto 0;
    margin-top: 5px;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    /* display: block; */
    text-align: center;
}

.mangaList {
    margin-top: 2em;
    margin-left: 2em;
}

.chapterList {
    margin-top: 2em;
    margin-left: 2em;
}

.text-box {
    text-align: center;

    border-radius: 25px;

    font-size: 4em;

    margin: 10px;
    padding: 10px;

    color: brown;
    background: cornsilk;
    border: 1px solid burlywood;

    margin-left: 25%;
    margin-right: 25%;
}

.currentPath {
    background-color: chartreuse;
    /* color: black; */
    width: fit-content;
    padding: 0.05em;
    padding-right: 0.5em;
    margin: 0;
    color:white;

    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}