body {
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255)
}

.top-bar {
    background-color: rgb(60, 60, 60);
}


.add-chapter-by-name {
    text-align: right;
}



a {
    color: rgb(150, 50, 215);
    /* margin: 1em; */

}

.currentPath {
    background-color: rgb(0, 120, 215);
    width: fit-content;
    padding: 0.05em;
    padding-right: 0.5em;
    margin: 0;
    color: white;

    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.list {
    padding: 2em;
    font-size: 1.5em;
}

.list a {
    color: rgb(255, 255, 255)
}

.lastReadChapter {
    background-color: rgb(100, 100, 100);
    color: black;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}


.currentPath a {
    color: white;
    margin: 0;
    box-shadow: 0 0 24px -8px rgb(0, 120, 215);
}



.page-name {
    text-align: center;
}

.page {
    text-align: center;
}


.page img {
    display: block;
    max-width: 100%;
    text-align: right;


    display: block;
    margin: 5px auto 0;
    margin-top: 5px;
    max-width: 100%;
    height: auto;
}

/* code for the manga list */
#manga-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.manga-item {
    width: 15em;
    /* Adjust this value to control the size of each item */
    text-align: center;
    margin: 1em;
    transition: transform .5s;

}

.manga-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    /* border-radius: 0.35rem; */
    border-radius: 5px;
    /* height: 100%; */
    /* width: auto; */
    box-shadow: 0 0 24px -4px black;
}

.cover-page img {
    /* border-radius: 0.35rem; */
    border-radius: 5px;
    box-shadow: 0 0 24px -4px black;


}




.add-chapter {
    text-align: center;
}




.change-chapter {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 25px;

    font-size: 2em;
    width: 100%;

}

#manga-image:hover {
    transform: scale(1.2);
}

.manga-infos{
    display: block;
}

.description{
    text-align: justify;
    width:25%;
    display: block;
    margin: 5px auto 0;
    /* margin-top: 5px; */
    top: 1em;
    max-width: 100%;

}

.prev-chap {
    width: 49%;
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 24px -8px orange;
}


.next-chap {
    display: inline-block;
    width: 49%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 24px -8px blue;
}